html, body, #root, .page-wrap {
	height: 100%;
}

.wrap {
	min-height: 100%;
}

.wrap:after {
	content: "";
	display: block;
}

.wrap:after {
	height: 250px;
}

footer {
	background-color: #313131;
	min-height: 250px;
	padding: 35px;
}

footer div[class^='col-'] {
	padding-bottom: 10px;
}

footer hr {
	margin: 10px 0;
	border-top: 1px dotted #444;
}

footer p, 
footer a {
	color: #999;
	font-weight: normal;
}

footer p a:hover {
	text-decoration: none;
	color: #e2e2e2;
}

footer h4 {
	color: #fff;
}

.footer-copy {
	background: #111;
	border-top: 1px solid #000;
	box-shadow: 0 1px 0 #282828 inset;
	color: #999;
	padding: 15px 0;
}

.footer-copy .row {
	margin-left: 0;
	margin-right: 0;
}

.footer-copy p {
	margin: 0;
}
.footerlogo {
	max-width: 40%;
	max-height: 50px;
	margin: 20px 50px;
	filter: grayscale(100%);
	transition: filter ease-in-out 0.3s;
}
.footerlogo:hover {
	filter: grayscale(0%);
}