html, body, #root, .page-wrap {
	height: 100%;
}

.wrap {
	min-height: 100%;
	/* equal to footer height */
	margin-bottom: -250px;
}

.wrap:after {
	content: "";
	display: block;
}

.wrap:after {
	height: 250px;
}

footer {
	background-color: #313131;
	min-height: 250px;
	padding: 35px;
	background-image: url('https://www.schueler.tum.de/fileadmin/tum/org/tum-logo.png');
    background-repeat: no-repeat;
    background-position: 100% 100%;
    filter: grayscale(100%);
}

footer div[class^='col-'] {
	padding-bottom: 10px;
}

footer hr {
	margin: 10px 0;
	border-top: 1px dotted #444;
}

footer p, 
footer a {
	color: #999;
	font-weight: normal;
}

footer p a:hover {
	text-decoration: none;
	color: #e2e2e2;
}

footer h4 {
	color: #fff;
}

.footer-copy {
	background: #111;
	border-top: 1px solid #000;
	box-shadow: 0 1px 0 #282828 inset;
	color: #999;
	padding: 15px 0;
}

.footer-copy .row {
	margin-left: 0;
	margin-right: 0;
}

.footer-copy p {
	margin: 0;
}