#characters {
	position: absolute;
	width: 245px;
	margin-top:3.5em;
	top: 0;
	bottom: 0;
	overflow: scroll;
	right: 0;
}

#characters .glyphicon-remove {
	right: 8px;
}

#filter .input-group {
	width: 100%;
}
#map {
	background: #001;
	position: absolute;
	left:0;
	right: 250px;
	top:0;
	bottom: 40px;
}

#sidebar {
	background: #CFD8DC;
	padding: 0.5em;
	position: absolute;
	width: 250px;
	right: 0;
	top:0;
	bottom: 0;
}

#sidebar hr{
	margin: 0.5em 0;
	border: 2px solid #B6B6B6;
}

#timeline {
	position:absolute;
	left:0;
	right:250px;
	bottom:0;
	height:40px;
	background:#030912;
	color:#fff;
	padding: 5px 15px 0;
}

.glyphicon-flag {
  color: grey;
}

.gotmap-dropdown {
	position: absolute;
	overflow-y: auto;
	overflow-x: hidden;	
	height: 300px;
}

.gotmap-dropdown 	a {
	width: 236px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.dropdown-header {
	width: 236px;
}

.map-wrapper {
  position: relative;
  height: 400px;
  width: 800px;
}
