.map-wrapper {
    width: 100% !important;
    min-height: 500px;
}

#filter .input-group {
    width: 100%;
}
#map {
    background: #001;
    position: relative;
    left: 0;
    top: 0;
    bottom: 40px;
    width: 100%;
    height: 100%;
    min-height: 500px;
}
/*zoom-in/out*/
#map .leaflet-left {
    bottom: 80px;
    left: 20px;
    top: auto;
}
#sidebar {
    position: absolute;
    top: 10px;
    left: 20px;
    width: 300px;
    max-height: 80%;
}
.glyphicon-search {
    color: #fff;
    margin-top: 4px;
}
#sidebar .form-control {
    border-radius: 4px;
    background-color: #1E1E1E;
    border: none;
    padding: 20px;
    transition: all ease-in-out 0.5s;
}
#sidebar .form-control:focus {
    background-color: #fff;
    width: 120%;
}
#characters {
    width: 100%;
    overflow: auto;
    background: rgba(0, 0, 0, 0.4);
    transition: background ease-in-out 0.5s;
    max-height: 300px;
    overflow-y: auto;
}
#characters:hover {
    background: rgba(0, 0, 0, 0.7);
}
.gotmap-character .character {
    border-bottom: 3px solid #000000!important;
}
#characters .glyphicon-remove {
    right: 8px;
    cursor: pointer;
}
.gotmap-character .character img {
    margin-left: 10px;
}
.characterinfo .house {
    color: #BDBDBD!important;
}
.characterinfo a {
    cursor: pointer;
    color: #848484;
    font-weight: 300;
}
.popupCharacterList .name {
    color: #333;
}
.dropdown-menu, .dropdown-header {
    width: 100%!important;
}
.dropdown-menu {
    border-bottom: 3px solid #000000!important;
}
.gotmap-dropdown a {
    width: 100%!important;
}
ul.gotmap-dropdown .hover, ul.gotmap-dropdown li:hover {
    background-color: transparent!important;
}
#timeline {
    width: 100%;
    height: 30px;
    background: #1E1E1E;
    color: #fff;
    padding: 10px;
    bottom: 0;
    transition: all ease-in-out 0.5s;
}
#timeline p {
    margin: 5px 0 15px!important;
    text-transform: uppercase;
    text-align: center;
    display: none;
    transition: all ease-in-out 0.5s;
}
#timeline:hover {
    height: 60px;
}
#timeline:hover p {
    display: block;
}
.gotmap-timeline .ui-widget-header {
    background: #5A180C!important;
    cursor: pointer;
}
.gotmap-timeline .ui-widget-content {
    border: none!important;
}
.gotmap-timeline .ui-corner-all {
    width: 90%;
    margin: 0 auto;
}
.gotmap-timeline .ui-slider-horizontal .ui-slider-handle {
    cursor: pointer!important;
}
.gotmap-timeline .ui-slider-horizontal .ui-slider-handle {
    background: white;
}
/*top-right flag which is a toggle for the realms
gets colored when hovered*/
.glyphicon-flag {
    box-shadow: #000 0 0 20px!important;
    background: rgba(255, 255, 255, 0.5)!important;
    color: #333;
    cursor: pointer!important;
    transition: all ease-in-out 0.5s;
}
.leaflet-right .leaflet-control:hover {
    color: #E42727;
    background: #fff!important;
}
.ui-tooltip {
    float: right;
}
.gotmap-dropdown {
    position: absolute;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 300px;
}
.gotmap-dropdown a {
    width: 236px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.dropdown-header {
    width: 236px;
}
.map-wrapper {
    width: 100% !important;
    height: 0;
}
@media (max-width: 767px) {
    .map-wrapper {
        position: relative;
    }

    .map-wrapper #timeline {
        width: 100%;
    }
}

.gotmap-character .character .name {
    font-size: 1em; 
}
.gotmap-character .character .characterinfo {
    padding: 0!important;
}