{
  "plugins": [
    "react"
  ],
  "extends": ["eslint:recommended", "plugin:react/recommended"],
  "parserOptions": {
      "ecmaVersion": 6,
      "sourceType": "module",
      "ecmaFeatures": {
          "impliedStrict": true,
          "jsx": true
      },
  },
  "rules": {
      "no-console": 'off',
      "semi": 2,
      "no-mixed-spaces-and-tabs": 0,
      "react/no-danger": 0
  },
  "globals": {
    "process": true
  }
}
