.Countdown{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 30%;
    margin: auto;
    font-family: 'Cinzel Decorative', cursive;
    padding-bottom: 25px;
}

.Countdown-col-number{
    font-size: 2em;
}

.Countdown-col-string{
    font-size: 0.8em;
}