
#root {
	background: none;
}

.notfound h1 {
	font-size: 13em;
	font-weight: 900;
}
.message {
	margin-left: 20px;
}
.hodor {
	position: absolute;
	right: 0;
	bottom: 0;
	width: 80%;
	height: 80%;
	z-index: 200;
	background-image: url('HODOR.png');
	background-size: cover;
}
.cloud {
	position: absolute;
	opacity: .2;
	min-height: 100%;
	min-width: 60%;
	z-index: 100;
	background:url('cloud3.png') no-repeat;
	background-size: contain;
	left: 0;
	animation: leftright 300s infinite;
}
.cloud2 {
	position: absolute;
	opacity: .2;
	min-height: 100%;
	min-width: 60%;
	z-index: 100;
	background:url('cloud2.png') no-repeat;
	background-size: contain;
	right: -20%;
	animation: rightleft 200s infinite;
}
/* Chrome, Safari, Opera */
@-webkit-keyframes leftright {
0% {
	left: -50%;
}
50% {
	left: 100%;
}
100% {
	left: -50%;
}
}

/* Standard syntax */
@keyframes leftright {
0% {
	left: -50%;
}
50% {
	left: 100%;
}
100% {
	left: -50%;
}
}

/* Chrome, Safari, Opera */
@-webkit-keyframes rightleft {
0% {
	right: -20%;
}
50% {
	right: 100%;
}
100% {
	right: -20%;
}
}

/* Standard syntax */
@keyframes rightleft {
0% {
	right: -20%;
}
50% {
	right: 100%;
}
100% {
	right: -20%;
}
}