body {
  margin: 0;
  padding: 0;
}

.header {
  background: grey;
  background-image: url("http://placehold.it/350x150");
  height: 400px;
}

.stats {
  background: white;
  height: 300px;
}

.map {
  background: grey;
  height: 300px;
}

.title {
  font-family: "Game of Thrones";
}
