.simpleBarChart {
    text-align: left;
    padding-bottom: 30px;
    width: 50%;
    box-sizing: border-box;
    padding-right: 50px;
    display: inline-block;
}

.simpleBarChart h4 {
    margin: 0;
}

.simpleBarChartBars {
    border-left: 2px solid #666;
    padding-top: 10px;
    margin-top: 10px;
    text-align: left;
}

.simpleBarChart .bar {
    width: 100%;
    text-align: left;
    padding-bottom: 10px;
}

.simpleBarChart .barFill {
    position: relative;
    display: inline-block;
    background-color: #c9180c;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-family: 'Cinzel';
}

.barAnnotation {
    position: absolute;
    left: 100%;
    padding-left: 10px;
    line-height: 30px;
    top: 0;
}

.barBottom .barFill {
    background-color: #0c50c6
}

.cardContainer .statsCard:nth-child(3) {
    margin-right: 0;
}

.statsCard {
    box-sizing: border-box;

    display: inline-block;
    margin-right: 20px;
    vertical-align: top;
    text-align: left;

	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;

    background-color: #353535;
    padding: 20px;

    width: calc((100% - 40px)/3);
}

.statsCard h4{
    margin-top: 0;
}
.statsCard .subtitle{
    font-size: 0.9em;
    color: #bbb;
    font-family: 'Cinzel', sans;
}

.statsCard .description{
    font-size: 0.9em;
    color: #bbb;
}

.statsCard .proportion {
    text-align: center;
}

.statsCard .proportion h3 {
    font-size: 2em;
    margin-top: 0;
}

.lowerQuote {
    display: inline-block;
    border-left: 5px solid #666;
    margin: 50px;
    width: 50%;
    text-align:left;
}

.lowerQuote span {
    display: block;
    text-align: right;
}