.header-ranking {
    height: 570px;
    background-image: url('ranking.jpg');
    background-size: cover;
    margin: -20px 0 0 0;
    background-position: 50% 50%;
    padding: 0;
    position: relative;
}
.ranking {
	margin-top: 2em;
}
.ranking-plod {
	margin-top: 15%;
}
.ranking-fields .col-sm-12, .ranking-fields .col-md-6{
	margin-top: 3em;
}
.popover-title, .popover-content {
	color: #333;
}
.ranking-title {
	padding-bottom: 20px;
}
.ranking-field {
	background-color: #313131;
	padding: 50px 20px;
	box-shadow: inset 0 0 1px rgba(0,0,0,.075), 0 3px 1px rgba(90, 24, 12, .5);
	transition: all .1s ease-in-out;
	-webkit-transition: all .1s ease-in-out;
	-moz-transition: all .1s ease-in-out;
	-o-transition: all .1s ease-in-out;
}
.ranking-field .see-more {
	text-align: right;
	position: relative;
	right: 10px;
	bottom: -8px;
}
.ranking-field ul {
	list-style-type: none;
	padding: 0;
}
.ranking-field h4 {
	font-weight: normal;
	color: whitesmoke;
	padding: 20px;
	background: #333;
	display: block;
	position: relative;
	cursor: pointer;
	transition: all ease-in-out 0.3s;
}
.ranking-field h4:hover {
	text-decoration: none;
	background: #232323;
}
.ranking-field a:hover {
	text-decoration: none;
}
.ranking-field h4.support, .ranking-field h4.nosupport {
	text-align: center;
	transition: background ease-in-out 0.3s;
}
.ranking-field h4.support:hover {
	background: green;
}
.ranking-field h4.nosupport:hover {
	background: #FF4444;
}
.ranking-field .glyphicon.glyphicon-thumbs-down, .ranking-field .glyphicon.glyphicon-thumbs-up {
	transition: all ease-in-out 0.3s;
	text-align: center;
}
.tweets-fields {
	margin-top: 15%;
}
.rankingTweets-heading {
	margin-top: 2em;
	margin-bottom: -.5em;
}
.twitterTooltip .glyphicon {
	font-size: .5em;
	margin-left: .5em;
	vertical-align: middle;
}

@media (max-width: 992px) {
	.ranking-field h4 {
		padding: 5px;
	}
}