.ranking {
	margin-top: 100px;
}
.big-battle {
	border: 3px solid #fff;
	max-height: 4	00px;	
	overflow: hidden;
}
.big-battle .col-xs-6:first-child {
	border-right: 1px solid #fff;
}
.big-battle img {
	width: 100%;	
}
.big-battle div {
	padding: 0;	
}
.big-battle-info {
	background: #313131;
	font-size: 0.8em;
	text-align: middle;
}
.big-battle-info .col-xs-6 {
	text-align: center;
	padding: 1em 0;	
}


.ranking-fields .col-xs-12, .ranking-fields .col-sm-6{
	margin-top: 3em;
}