.inputbar.row {
    margin: 80px 0;
}

input.character-search {
    font-family: 'Cinzel Decorative', cursive;
    background-color: black;
    font-size: 20px;
    border: none;
    border-bottom: 1px solid #999;
    height: 50px;
    line-height: 50px;
    color: whitesmoke;
    text-decoration: none;
}
.character-search::-webkit-input-placeholder {
	color: #5F5E5E;
}

.form-control:focus {
    border-color: #5A180C;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgb(90, 24, 12);
}

.sortButton {
    height: 50px;
    font-size: small;
    width: 100%;
}
.sortCol .dropdown {
    width: 100%;
}

.sortCol .dropdown .dropdown-menu {
    text-align: center;
}

#loadMoreButton {
    background-color: #333;
    border-radius: 2px;
    padding: 5px;
    display: inline-block;
    width: 150px;
    margin-top: 30px;
}

#toggleInfiniteScrolling {
    display: block;
    position: absolute;
    
    background-color: #333;

    margin: 20px 15px;
    padding: 5px 12px;

    border-radius: 4px;
    user-select: none;

    cursor: pointer;
}

#toggleInfiniteScrolling input {
    vertical-align: text-bottom;
    width: 1em;
    height: 1em;
}

@media (max-width : 600px) { 
    #toggleInfiniteScrolling {
        position: relative;
        width: 140px;
    }
}

.pagination > li > a:hover {
    background-color: #3f3f3f;
}