body {
    background: #1F1F1F;
    height: 100%;
    margin: 0;
    color: whitesmoke;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    text-align: justify;
}

h1,h2,h3,h4,h5,
title {
    font-family: 'Cinzel Decorative', cursive;
}

a {
    color: whitesmoke;
    font-weight: bold;
}

a:hover,
a:focus {
    color: white;
    outline: 0;
}

img {
    width: 100%;
}

.float-img-right {
    width: 40%;
    float: right;
    margin: 10px 0 10px 10px;
}
.navbar {
    font-family: 'Cinzel Decorative', cursive;
}

.navbar-brand {
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
    margin:0 auto;
}