.mapPage .map-wrapper {
  position: absolute;
  top: 123px;
  bottom: 0;
  width: 100%;
  height: auto;
}

.mapPage #timeline {
	position: fixed;
}

.gotmap-modal {
  color: black;
}
.gotmap-modal a{
  color: #5A180C !important;
}

@media (max-width: 769px) {
  .mapPage .map-wrapper {
    top: 90px;
  }
}