.mapPage .map-wrapper {
  position: absolute;
  top: 92px;
  bottom: 0;
  width: 100%;
  height: auto;
}

.mapPage #timeline {
	position: fixed;
}

.gotmap-modal {
  color: black;
}
.gotmap-modal a{
  color: #5A180C !important;
}