.big-battle {
    border: 3px solid #fff;
    max-height: 400px;
    overflow: hidden;
}
.big-battle .col-xs-6:first-child {
    border-right: 1px solid #fff;
}

.antagonistImage{
    width: 100%;
    vertical-align: middle;
}
.big-battle div {
    padding: 0;
}
.big-battle-info {
    background: #313131;
    font-size: 0.8em;
    text-align: center;
}
.big-battle-info .col-xs-6 {
    text-align: center;
    padding: 1em 0;
}
.big-battle-info a {
    color: whitesmoke;
}
.big-battle-name {
    display: none;
    text-align: left;
    margin: 0;
    margin-top: 15px;
}
.antagonistImageContainer  {
    height: 400px;
    display: block;
    position: relative;
}
.antagonistTombstone {
    height: 150px;
    position: absolute;
    z-index: 1;
    bottom: 0;
    right: -5px;
}
.antagonistTombstonePlod {
    font-family: 'Cinzel Decorative', cursive;
    font-size: 28px;
    font-weight: bold;
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.8);
    position: absolute;
    bottom: 25px;
    right: 25px;
    z-index: 2;
    color: black;
}

.copyRight {
    font-family: 'Lato', sans-serif;
    font-size: 8px;
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.8);
    position: absolute;
    bottom: 0;
    left: 10px;
    z-index: 2;
    color: white;
}
@media (max-width: 400px) {
    .antagonistTombstone {
        bottom: 30px;
    }
    .big-battle-name {
        display: block;
    }
}
@media (max-width: 768px) {
    .antagonistTombstone {
        height: 150px;
        position: absolute;
        z-index: 1;
        bottom: 12px;
        right: -5px;
    }
}