.character-thumbnail  {
	height: 200px;
}

.character-thumbnail {
	background-color: #333;
    border-radius: 2px;
    border: 0;
    color: #999;
    transition: all .1s ease-out;
    margin-bottom: 30px;
    padding-top: 5px;
    box-sizing: border-box;
    text-align: center;
}

.character-thumbnail p {
    color: #f5f5f5;
    line-height: 1em;
    font-size: smaller;
    padding: 0 20px;
    margin: 0;
    text-align: center;
}

.character-thumbmail-img-container {
    position: relative;
    display: inline-block;
    height: 150px;
    width: 98px;
    overflow: hidden;
    text-align: center;

    margin-bottom: 10px;
}

.character-thumbmail-img-container img {
    height: 150px;
    min-width: 98px;
    max-width: 150px;
    margin: 0 auto;

    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.to-transition:hover {
	transition: all .1s ease-out;
	transform: scale(1.05);
}

.to-transition:hover .character-thumbnail {
    background-color: #3f3f3f;
}

.to-transition:hover {
    text-decoration: none;
}

.thumbnail .caption {
	color: whitesmoke;
    line-height: 1em;
    padding: 0 20px;
    text-align: center;
    position: absolute;
    bottom: 10%;
    left: 0;
    right: 0;
}

.characters-list-plod {
    position: absolute;
    margin-left: 50%;

    /* TODO: decide on variant */
    /* variant A*/
    /* 
    right: 30px; 
    top: 106px;
    */

    /* variant B*/
    left: -25px;
    top: 110px;

    height: 50px;
    width: 50px;
}

.characters-list-plod > img {
    position: absolute;
    top: 0;
    left: 0;
    height: 50px;
    width: 50px;
}

.characters-list-plod .plod-percentage {
    position: absolute;
    top: 25px;
    left: 0;
    width: 47px;

    text-align: center;
    font-weight: bold;
    font-family: 'Cinzel Decorative', cursive;
    color: black;
    font-size: 11px;
}

.plod-percentage-cropper {
    position: absolute;
    bottom: 0;
    left: 0;
    overflow: hidden;

    width: 50px;
}

.plod-percentage-cropper img {
    position: absolute;
    bottom: 0;
    left: 0;
    
    height: 50px;
    width: 50px;
}