#fttContainer {
    position: relative;

    width: 100%;
    background-image: url('/ForTheThrone/img/texture.jpg');
    background-position: -500px 0;
}

p {
    text-align: justify;
}

#fttAntagonists {
    position: relative;

    height: 620px;
    width: 100%;

    overflow: hidden;
}

@media (min-width: 1200px) {
    #fttAntagonists {
        width: 1170px;
        margin-left: 50%;
        left: -585px;
    }
}

#fttThrone {
    position: absolute;
    bottom: 0;
    height: 450px;
    left: -200px;
    margin-left: 50%;
}

.fttCharContainer {
    position: absolute;
    bottom: 0;
    top: 0;
    width: 50%;
}

.fttLeft {
    left: 0;
}

.fttRight {
    right: 0;
}

.fttCharImg {
    position: absolute;
    bottom: 0;
    height: 500px;
}

.fttCharImg.fttRight {
    transform: scaleX(-1);
}

.fttCharArea {
    position: absolute;
    top: 0;
    height: 620px;
    width: calc(50vw - 100px);
    z-index: 1;
}

.fttCharText {
    position: absolute;
    text-align: left;
    top: 50px;
    width: 450px;
    opacity: 0;
}

#fttCharRightText {
    left: -380px;
}

#fttCharLeftText {
    right: -380px;
}

.fttCharRightTombstone {
    right: 100px;
}

.fttCharLeftTombstone {
    left: 100px;
}

.fttCharTombstone {
    position: absolute;
    bottom: -10px;
    height: 120px;
    width: 100px;

    box-sizing: border-box;
    padding-top: 60px;

    background-image: url('/ForTheThrone/img/tombstone.png');
    background-size: 100PX 120px;

    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 1.4em;

    color: #222;
}

#aiLink{
    box-sizing: border-box;

    display: block;
    width: 500px;
    margin-left: 50%;

    position: absolute;
    left: -250px;
    bottom: 30px;
    
    font-size: 16px;
    text-align: left;

    opacity: 0;
}

.fttCard {
    padding: 20px;

    background: rgba(32, 32, 32, 0.7);
    border-radius: 20px;
}

#fttHeader {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

#fttWhoDoYouChoose {
    position: absolute;
    left: -250px;
    bottom: 30px;

    margin-top: 60px;    
    margin-left: 50%;    
    width: 500px;
    
    text-align: center;
}
#fttWhoDoYouChoose h2, h3 {
    margin-top: 0;
    margin-bottom: 5px;
}

#fttCountdown, #fttCharacters {
    background: black;
    text-align: center;
}

#fttCountdown .content {
    display: inline-block;
    position: relative;
    max-width: 1170px;
}

#fttCharacters .content {
    display: inline-block;
    position: relative;
    width: 1000px;
    padding-bottom: 30px;
    padding-top: 20px;
}

#fttCountdown .content > div {
    display: inline-block;
}

#fttCountdownLeft {
    width: 50%;
    text-align: center;
}

#fttCountdownLeft h4 {
    margin-bottom: 0;
}

#fttCountdownRight {
    box-sizing: border-box;

    width: 50%;
    padding-left: 50px;
    padding-top: 15px;
    padding-bottom: 15px;

    text-align: left;
    border-left: 2px solid white;
}

.fttCharacter {
    display: inline-block;
    text-align: center;

    vertical-align: top;

    width: 20%;
    padding: 0;
}

.fttCharacter img {
    box-sizing: border-box;
    width: 90px;
    height: 90px;
    border: 3px solid transparent;
    border-radius: 50%;

    margin-bottom: 10px;
}

.fttCharacter:hover img {
    border: 3px solid white;
    transition-duration: 0.2s;
}

.fttCharacter:hover {
    text-decoration: none !important;
}