.plodByYearContainer {
    margin-bottom: 50px;
}

.plodYear {
    display: inline-block;
    margin-right: 5px;

    font-size: 11px;
    text-align: center;
}

.plodYearBg, .plodYearScale {
    vertical-align: top;
    width: calc((100% - 40px)/21 - 5px);
    position: relative;
    height: 150px;
    background: #333;
}

.plodYearTooltip {
    display: none;
    opacity: 0;

    position: absolute;
    left: calc(100% + 5px);

    width: 50px;

    background: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 5px;
    border-radius: 4px;

    transition-duration: 0.1s;
    z-index: 1;
}

.plodYearBg:hover .plodYearTooltip {
    display: block;
    opacity: 1;
    transition-duration: 0.1s;
}

.plodYearBg:hover .plodYearFg {
    background-color: #6A281C;
    transition-duration: 0.1s;
}

.plodYearScale {
    background: transparent;
}

.plodYearScale > div {
    position: absolute;
}

.plodYearScale div:nth-child(1)  {
    top: 0;
}

.plodYearScale div:nth-child(2) {
    top: calc(50% - 0.5em);
}
 
.plodYearScale div:nth-child(3) {
    bottom: 0;
}

.plodYearFg {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    background: #5A180C;
}

.plodYearValue {
    position: absolute;
    top: 50px;
    left: 0;
}

.plodYearAC {
    text-align: center;
    position: absolute;
    bottom: -25px;
    width: 100%;
    left: 0;
}