.center {
  width: 100%;
  text-align: center;
}

.inputbar.row {
    margin: 80px 0;
}

input.character-search {
    font-family: 'Cinzel Decorative', cursive;
    background-color: black;
    font-size: 20px;
    border: none;
    border-bottom: 1px solid #999;
    height: 50px;
    line-height: 50px;
    color: whitesmoke;
    text-decoration: none;
}
.character-search::-webkit-input-placeholder {
	color: #5F5E5E;
}

.form-control:focus {
    border-color: #5A180C;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgb(90, 24, 12);
}

.sortButton {
    height: 50px;
}