.home {
	text-align: center;
}

.home-plod {
    transform: translateY(-50%);
}

.twitter {
  text-align: center;
}

.homeBlog {
    text-align: left;
}


/* Map */
.home .map-wrapper {
    position: relative;
}
.home .map-wrapper #sidebar {
     display: none;
 }