h1,h2,h3,h4,h5,
title {
    font-family: 'Cinzel Decorative', cursive;
}

a {
    color: whitesmoke;
}

body {
    color: whitesmoke;
}

#root {
    background: #212121 50% 0;
}

/*#root:after {*/
    /*content: "";*/
    /*position: absolute;*/
    /*background: url('http://got.show/got.jpg') no-repeat 50% 0;*/
    /*background-size: cover;*/
    /*top: 0;*/
    /*left: 0;*/
    /*right: 0;*/
    /*bottom: 0;*/
    /*z-index: -1; !* Make sure the image sits below the content *! */
/*}*/

.tab-pane{
    padding: 15px;
    background-color: #313131;
}

.header-image {
    height: 550px;
    margin-top: -65px;
    background-image: url('https://walter.trakt.us/images/shows/000/001/390/fanarts/original/76d5df8aed.jpg');
    background-size: cover;
    background-position: 100% 50%;
}
