body {
  background: #1F1F1F;
  overflow-x: hidden;
  height: 100%;
  width: 100%;
  margin: 0;
  color: whitesmoke;
  font-family: 'Gotham SSm 3r';
}

h1,h2,h3,h4,h5,
title {
    font-family: 'Cinzel Decorative', cursive;
}

a {
    color: #999;
}

a:hover,
a:focus {
  color: white;
  text-decoration: none;
  outline: 0;
}

#root {
    background: #212121 50% 0;
}

/*#root:after {*/
    /*content: "";*/
    /*position: absolute;*/
    /*background: url('http://got.show/got.jpg') no-repeat 50% 0;*/
    /*background-size: cover;*/
    /*top: 0;*/
    /*left: 0;*/
    /*right: 0;*/
    /*bottom: 0;*/
    /*z-index: -1; !* Make sure the image sits below the content *! */
/*}*/

/* Tabs */
.tab-pane {
    padding: 15px;
    background-color: #313131;
}

.nav-tabs > li > a {
    font-family: 'Cinzel Decorative', cursive;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    color: whitesmoke;
    background-color: #5A180C;
    border: none;
}

.ranking-fields .nav > li.active > a:hover, .ranking-fields .nav > li.active > a:focus {
    cursor: pointer;
}


.nav-tabs > li > a:hover {
    background-color: #3A3A3A;
    border-color: transparent;
    border-bottom-color: #ddd;
}
.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:active, 
.nav-tabs>li.active>a:hover {
    outline: none;
}

/* Pagination */
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
    z-index: 3;
    color: #fff;
    cursor: default;
    background-color: #5A180C;
    border-color: #5A180C;
}

.pagination > li > a:hover, .pagination > li > span:hover, .pagination > li > a:focus, .pagination > li > span:focus,
.pagination > li > a,
.pagination > li > span,
.pagination > .disabled > a, .pagination > .disabled > a:hover, .pagination > .disabled > a:active, .pagination > .disabled > a:focus {
    color: whitesmoke;
    background-color: #333;
    border: none;
}


/* Dropdown */
.dropdown-toggle,
.dropdown-toggle:focus,
.dropdown-toggle:active {
    background-color: #000000;
    color: whitesmoke;
    border: none;
    border-bottom: 1px solid grey;
}

.dropdown-toggle:hover, .btn-default:active:hover, .btn-default.active:hover, .open > .dropdown-toggle.btn-default:hover, .btn-default:active:focus, .btn-default.active:focus, .open > .dropdown-toggle.btn-default:focus, .btn-default:active.focus, .btn-default.active.focus, .open > .dropdown-toggle.btn-default.focus {
    color: whitesmoke;
    background-color: black;

    border-color: #5A180C;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgb(90, 24, 12);
}
.dropdown-menu {
    background-color: black;
    /* border-color: #5A180C; */
    outline: 0;
    /* box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgb(90, 24, 12); */
    border-bottom: 1px solid grey;
}
.dropdown.open {
    color: whitesmoke !important;
    background-color: black !important;;

    border-color: #5A180C !important;;
    outline: 0 !important;;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgb(90, 24, 12) !important;;
}

.dropdown-menu > li > a {
    color: whitesmoke;
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    background-color: #5A180C;
    color: whitesmoke;
}
.dropdown-menu {
    min-width: 0;
}


.header-image {
    height: 550px;
    background-image: url('header.jpg');
    background-size: cover;
    margin-top: -50px;
    background-position: 50% 50%;
    padding: 0; 
    position: relative;
}
.main-container {
   padding-top: 50px;
   padding-bottom: 50px;
}

.map-wrapper {
    width: 100% !important;
    height: 0;
    padding-bottom: 50%;
}