header {
    transition: all .5s;
    font-family: 'Cinzel Decorative', cursive;
}

.navbar-inverse .navbar-nav > li > a,
.navbar-brand {
    color: white;
}

.navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
}

.navbar .navbar-collapse {
    text-align: center;
}

.navbar-inverse {
    background-color: transparent;
    background-color: rgba(0, 0, 0, 0.5);
    border-color: #791E01;
    style: solid 1px;
    border-width: 0 0 1px 0;
}

.navbar-nav li {
    transition: all .2s;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
    background-color: #5A180C;
}

.navbar-nav li:hover {
    background-color: #5A180C;
    transition: all .2s;
}