header {
    transition: all .5s;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 100;
    font-family: 'Cinzel Decorative', cursive;
}

.navbar-inverse .navbar-nav > li > a,
.navbar-brand {
    color: white;
}

.navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
}

.navbar .navbar-collapse {
    text-align: center;
}

.navbar-inverse {
    background-color: transparent;
    background-color: rgba(0, 0, 0, 0.9);
    border: 0;
    border-radius: 0;
}

.navbar-nav li {
    transition: all .2s;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
    background-color: #5A180C;
}

.navbar-nav li:hover {
    background-color: #5A180C;
    transition: all .2s;
}
.footer {
    position: absolute;
    bottom: 0;
}