header {
    transition: all .5s;
    position: relative;
    top: 0;
    width: 100%;
    z-index: 100;
    font-family: 'Cinzel Decorative', cursive;
}

.footer {
    position: absolute;
    bottom: 0;
}
.navbar {
    margin-bottom: 0;
}
.navbar-inverse .navbar-nav > li > a,
.navbar-brand {
    color: white;
    font-size: 1.3em;
}

.navbar .navbar-nav {
    float: right;
    vertical-align: top;
}

.navbar .navbar-collapse {
    text-align: center;
}

.navbar-inverse {
    background-color: transparent;
    background-color: rgba(0, 0, 0, 0.7);
    border: 0;
    border-radius: 0;
}

.navbar-nav li {
    transition: all .2s;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
    background-color: #5A180C;
}

.navbar-nav li:hover {
    background-color: #5A180C;
    transition: all .2s;
}

/*FIXES HEADER WIDTH FOR SMALL SCREENS*/
@media (max-width: 768px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar .navbar-nav {
        margin-top: 7.5px;
        float: none;
    }
    .navbar-nav>li {
        float: none;
    }
    .collapse.in{
        display:block !important;
    }
}

.navbar-tum-top {
    background-color: #353535;
    width: 100%;
    position: relative;
    filter: grayscale(1);
}

.TUMLogo {
    height: 20px;
    float: right;
    margin: 10px;
}

.TUMLogoWritten {
    margin-top: 20px;
    max-height: 25px;
    padding-left: 5px;
}