h1,h2,h3,h4,h5,
title {
    font-family: 'Cinzel', cursive;
    text-align: left;
}

.character-stats .row {
	margin-top: 3em;
	margin-bottom: 3em;
}
.row.character-intro {
	padding: 0;
	min-height: 50px;
}
.character-photo {
	padding: 0;
}

.character-details {
	text-align: left;
}

.character-photo {
	border: 2px solid white;

	overflow: hidden;
	position: relative;
	top: -50px;
	height: 420px;
}

.character-photo img {
	position: absolute;
	min-width: 100%;
	height: 100%;
	margin-left: 50%;
	transform: translateX(-50%);
	opacity: 1;

	transition-duration: 0.4s;
}

.character-photo .hiddenImg {
	display: block;
	opacity: 0;

	transition-duration: 0.4s;
}

.character-header {
	height: 80px;
    padding: 0;
	position: relative;
}

.character-name-background {
	/*background-color: rgba(0, 0, 0, 0.3);*/
	z-index: -1;
	position: absolute;
	top: 0;
	height: 100%;
	width: 100vw;
	margin-left: 50%;
	transform: translateX(-50%);
}

.character-name-container {
	position: absolute;
	top: 0;
	width: 100%;
}
.character-name {
	float: right;
}
.character-name h1 {
	width: 100%;
	padding: 10px 0;
}
.wikiButton {
	top: 25px;
	position: absolute;
	right: 20px;
}

.list-group-item {
	background: #333;
	border: none;
}
.character-container .map-wrapper #sidebar {
	display: none;
}

/* PLOD */
.plodContainer {
	margin-top: 20px;
	margin-bottom: -15px;
	white-space: nowrap;
}
.plodContainer .progress {
	display: inline-block;
	width: calc(100% - 41px);
	background-color: #333333;
}
.plodContainer .progress-bar {
	background-color: #5A180C;
}
.plodContainer img {
	display: inline-block;
	height: 50px;
	transform: translateY(-30px);
}

@media (max-width: 767px) {
	.plodContainer .progress {
		width: 85%;
	}
	.character-photo {
		padding: 0;
		position: absolute;
		top: 200px;
	}
	.character-photo img {
		transform: none !important;
	}
	/* Optimize Map for smartphones */
	.character-container .map-wrapper {
		padding-bottom: 100%;
	}
	.wikiButton {
		top: -50px;
		right: 10px;
	}
	.row.character-intro {
		min-height: 100px;
	}
}

.togglePlodDisplayButton {
	position: absolute;
	top: 18px; 
	right: 20px;

	background: #333;
	border-radius: 4px;
	width: 140px;
	border: none;
	padding: 5px 0;

	white-space: nowrap;
	overflow: hidden;
	cursor: pointer;
	z-index: 1;
	user-select: none;
}

.togglePlodDisplayButtonOption {
	position: relative;
	display: inline-block;
	box-sizing: border-box;
	padding: 0 5px;
	width: 50%;
	margin: 0;
	text-align: center;
	z-index: 2;
}

.togglePlodDisplayButtonBackground {
	position: absolute;
	width: 50%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: #7a7a7a;
	z-index: 1;
}

#characterMap .map-wrapper {
    width: /* 100% */ 100vw !important;
    height: 30vw;
    margin-left: 50%;
    transform: translateX(-50%);
}

.leftBar h3 {
	margin-top: 4px;
}

.plodOuterContainer {
	position: relative;
}

.plodOuterContainer h3 {
	margin-top: 0;
	padding-top: 20px;
}

.plodBookContainer {
	display: block;
	position: absolute;
	top: 0;
	background: #1f1f1f;
	width: 100%;
	opacity: 1;
	transition-duration: 0.4s;
}

.plodBookContainer.plodContainerHidden {
	opacity: 0;
	transition-duration: 0.4s;
}

.plodBookContainer.plodContainerZIndexLower {
	z-index: -1;
}

.noPlod h2 {
	margin: 0;
	padding: 0;
	padding-top: 23px;
	width: 550px;
	height: 90px;
	margin-left: 50%;
	transform: translateX(-50%); 
}

.deathDate {
	position: relative;
	height: 250px;
}

.deathDate > img {
	height: 200px;
	position: absolute;
	bottom: 0;
	transform: translateX(-50%);
}

.deathDate > div {
	position: absolute;
	bottom: 60px;
	width: 120px;
	margin-left: 50%;
	padding-right: 9px;
	left: -60px;

	color: black;
	text-align: center;

	font-size: 1.5em;
	font-weight: bold;
	font-family: 'Cinzel', 'Lato', sans;
}