.row.character-intro {
	padding: 0;
}
.character-photo {
	padding: 0;
}
.col-xs-12.character-name {
	text-align: center;
}
.character-photo img {
	width: 100%;
	transform: translateY(-50%);
}
.character-name {
	padding: 0;
}
.character-name h1 {
	margin: 0;
	transform: translateY(-100%);
	background-color: rgba(0, 0, 0, 0.9);
	width: 236px;
	padding: 10px;
}
.character-thumbnail .caption p {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 80%;
	margin:auto;
}
