.character-container .row {
	padding: 50px 0;
}

.row.character-intro {
	margin-top: -80px;
	background-color: rgba(0, 0, 0, 0.6);
	padding: 0;
}
.character-photo {
	max-width: 100%;
	margin-top: -180px;
}

.character-name h1 {
	line-height: 50px;
}