h1,h2,h3,h4,h5,
title {
    font-family: 'Cinzel', cursive;
    text-align: left;
}

.character-stats .row {
	margin-top: 3em;
	margin-bottom: 3em;
}
.row.character-intro {
	padding: 0;
	min-height: 50px;
}
.character-photo {
	padding: 0;
}

.character-details {
	text-align: left;
}

.character-photo {
	border: 2px solid white;

	overflow: hidden;
	position: relative;
	top: -50px;
	height: 420px;
}

.character-photo img {
	position: absolute;
	min-width: 100%;
	height: 100%;
	margin-left: 50%;
	transform: translateX(-50%);
	opacity: 1;

	transition-duration: 0.4s;
}

.character-photo .hiddenImg {
	display: block;
	opacity: 0;

	transition-duration: 0.4s;
}

.character-header {
	height: 80px;
    padding: 0;
	position: relative;
}

.character-name-background {
	/*background-color: rgba(0, 0, 0, 0.3);*/
	z-index: -1;
	position: absolute;
	top: 0;
	height: 100%;
	width: 100vw;
	margin-left: 50%;
	transform: translateX(-50%);
}

.character-name-container {
	position: absolute;
	top: 0;
	width: 100%;
}
.character-name {
	float: right;
}
.character-name h1 {
	width: 100%;
	padding: 10px 0;
}
.wikiButton {
	top: 25px;
	position: absolute;
	right: 20px;
}

.list-group-item {
	background: #333;
	border: none;
}
.character-container .map-wrapper #sidebar {
	display: none;
}

/* PLOD */
.plodContainer {
	margin-top: 20px;
	margin-bottom: -15px;
	white-space: nowrap;
}
.plodContainer .progress {
	display: inline-block;
	width: calc(100% - 41px);
	background-color: #333333;
}
.plodContainer .progress-bar {
	background-color: #5A180C;
}
.plodContainer img {
	display: inline-block;
	height: 50px;
	transform: translateY(-30px);
}

@media (max-width: 991px) {
	.character-header {
		position: relative;
		width: 100%;
	}

	.character-header .character-name {
		float: left;
		padding-left: 150px;
		width: 100%;
	}

	.character-header .character-name h1 {
		font-size: 2.5em;
		display: block;
	}

	.wikiButton  {
		display: block;
		width: 100px;
		position: relative;
		top: 0;
		left: 0;
		z-index: 1;
	}

	.character-photo {
		position: relative;
		width: 100px;
		height: 150px;
		top: -70px;
		margin-bottom: -70px;
	}
}

@media (max-width: 400px) {
    .character-header .character-name h1 {
		font-size: 1.8em;
		display: block;
	}
}

.togglePlodDisplayButton {
	position: absolute;
	top: 18px; 
	right: 20px;

	background: #333;
	border-radius: 4px;
	width: 140px;
	border: none;
	padding: 5px 0;

	white-space: nowrap;
	overflow: hidden;
	cursor: pointer;
	z-index: 1;
	user-select: none;
}

.togglePlodDisplayButtonOption {
	position: relative;
	display: inline-block;
	box-sizing: border-box;
	padding: 0 5px;
	width: 50%;
	margin: 0;
	text-align: center;
	z-index: 2;
}

.togglePlodDisplayButtonBackground {
	position: absolute;
	width: 50%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: #7a7a7a;
	z-index: 1;
}

#characterMap .map-wrapper {
    width: /* 100% */ 100vw !important;
    height: 30vw;
    margin-left: 50%;
    transform: translateX(-50%);
}

.leftBar h3 {
	margin-top: 4px;
	font-size: 1.6em;
}

.plodOuterContainer {
	position: relative;
}

.plodOuterContainer .subtitle{
	display: block;
	color: #bbb;
	font-size: 1em;
	font-family: 'Cinzel', Sans;
	margin-top: -8px;
}

.plodOuterContainer h3 {
	margin-top: 0;
	padding-top: 20px;
}

.plodBookContainer {
	display: block;
	position: absolute;
	top: 0;
	background: #1f1f1f;
	width: 100%;
	opacity: 1;
	transition-duration: 0.4s;
	min-height: 380px;
}

.plodBookContainer.plodContainerHidden {
	opacity: 0;
	transition-duration: 0.4s;
}

.plodBookContainer.plodContainerZIndexLower {
	z-index: -1;
}

.noPlod h2 {
	margin: 0;
	padding: 0;
	padding-top: 23px;
	width: 550px;
	height: 90px;
	margin-left: 50%;
	transform: translateX(-50%); 
}

.deathDate {
	position: relative;
	height: 250px;
}

.deathDate > img {
	height: 200px;
	position: absolute;
	bottom: 0;
	transform: translateX(-50%);
}

.deathDate > div {
	position: absolute;
	bottom: 60px;
	width: 120px;
	margin-left: 50%;
	padding-right: 9px;
	left: -60px;

	color: black;
	text-align: center;

	font-size: 1.5em;
	font-weight: bold;
	font-family: 'Cinzel', 'Lato', sans;
}

.card {
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;

    background-color: #353535;
    padding: 20px;
}

.readMore {
	display: inline-block;
	font-size: 1.2em;
	border-radius: 5px;
	padding: 5px 20px;

	font-family: 'Cinzel', sans;

    background-color: #757575;
	margin-left: 50%;

	transform: translateX(-50%);
	margin-top: 10px;
}

.readMore:hover {
	text-decoration: none;
	background-color: #858585;
}

hr {
	border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(255, 255, 255, 0.50), rgba(0, 0, 0, 0));
}