.character-stats .row {
	margin-top: 3em;
	margin-bottom: 3em;
}
.row.character-intro {
	padding: 0;
	min-height: 50px;
}
.character-photo {
	padding: 0;
}
.character-details {
	/*margin-top: -5em;*/
	text-align: left;
}
/*TODO: align char name left for bigger screens;*/
.character-name.col-xs-12 {
	text-align: center;
}


.col-sm-3.character-photo img, .col-md-3.character-photo img, .character-photo img {
	max-width: 100%;
	max-height: 400px;
	position: absolute;
	right: 0;
	bottom: -30px;
}/*
.col-xs-6.character-photo img{
	position: relative;
	transform: translateY(0);
}*/
.character-name-container {
	background-color: rgba(0, 0, 0, 0.7);
	position: absolute;
	bottom: 0;
	width: 100%;
}
.character-name {
	padding: 0;
	float: right;
}
.character-name h1 {
	/*transform: translateY(-100%);*/
	/*background-color: rgba(0, 0, 0, 0.7);*/
	width: 100%;
	padding: 10px;
}
.wikiButton {
	top: 25px;
	position: absolute;
	right: 20px;
}

.list-group-item {
	background: #333;
	border: none;
}
.character-container .map-wrapper #sidebar {
	display: none;
}

/* PLOD */
.plodContainer {
	margin-top: 20px;
	margin-bottom: -15px;
}
.plodContainer .progress {
	display: inline-block;
	width: 90%;
	background-color: #333333;
}
.plodContainer .progress-bar {
	background-color: #5A180C;
}
.plodContainer img {
	display: inline-block;
	height: 50px;
	transform: translateY(-30px);
}

@media (max-width: 767px) {
	.plodContainer .progress {
		width: 85%;
	}
	.character-photo {
		padding: 0;
		position: absolute;
		top: 200px;
	}
	.character-photo img {
		transform: none !important;
	}
	/* Optimize Map for smartphones */
	.character-container .map-wrapper {
		padding-bottom: 100%;
	}
	.wikiButton {
		top: -50px;
		right: 10px;
	}
	.row.character-intro {
		min-height: 100px;
	}
}

.togglePlodDisplayButton {
	position: absolute;
	top: 18px; 
	right: 33px;

	background: #333;
	border-radius: 4px;
	width: 140px;
	border: none;
	padding: 5px 0;

	white-space: nowrap;
	overflow: hidden;
	cursor: pointer;
	z-index: 1;
	user-select: none;
}

.togglePlodDisplayButtonOption {
	position: relative;
	display: inline-block;
	box-sizing: border-box;
	padding: 0 5px;
	width: 50%;
	margin: 0;
	text-align: center;
	z-index: 2;
}

.togglePlodDisplayButtonBackground {
	position: absolute;
	width: 50%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: #5A180C;
	z-index: 1;
}