.character-stats .row {
	margin-top: 3em;
	margin-bottom: 3em;
}
.row.character-intro {
	padding: 0;
	max-height: 400px;
	min-height: 200px;
}
.character-photo {
	padding: 0;
}
.character-details {
	margin-top: -5em;
	text-align: left;
}
/*TODO: align char name left for bigger screens;*/
.character-name.col-xs-12 {
	text-align: center;
}


.col-sm-3.character-photo img, .col-md-3.character-photo img, .character-photo img {
	max-width: 100%;
	max-height: 400px;
	transform: translateY(-80%);
	position: absolute;
	right: 0;
}/*
.col-xs-6.character-photo img{
	position: relative;
	transform: translateY(0);
}*/
.character-name-container {
	background-color: rgba(0, 0, 0, 0.7);
	position: absolute;
	bottom: 0;
	width: 100%;
}
.character-name {
	padding: 0;
	float: right;
}
.character-name h1 {
	/*transform: translateY(-100%);*/
	/*background-color: rgba(0, 0, 0, 0.7);*/
	width: 100%;
	padding: 10px;
}
.wikiButton {
	top: 25px;
	position: absolute;
	right: 20px;
}

.list-group-item {
	background: #333;
	border: none;
}

@media (max-width: 767px) {
	.character-photo {
		padding: 0;
		position: absolute;
		top: 100px;
	}
	.character-photo img {
		transform: none !important;
	}
	/* Optimize Map for smartphones */
	.character-container .map-wrapper {
		padding-bottom: 100%;
	}
	.wikiButton {
		top: -50px;
		right: 10px;
	}
}


.character-container .map-wrapper #sidebar {
	display: none;
}

/* PLOD */
.plodContainer {
	margin-top: 20px;
	margin-bottom: -15px;
}
.plodContainer .progress {
	display: inline-block;
	width: 90%;
	background-color: #333333;
}
.plodContainer .progress-bar {
	background-color: #5A180C;
}
.plodContainer img {
	display: inline-block;
	height: 50px;
	transform: translateY(-30px);
}