#ppBody
{
    font-size:11pt;
    width:100%;
    margin:0 auto;
    text-align:justify;
}

#ppHeader
{
    font-family:verdana, sans-serif;
    font-size:21pt;
    width:100%;
    margin:0 auto;
}

.ppConsistencies
{
    display:none;
}

.style1,
.style3
{
    clear:both;
    height:10px;
}

.style2
{
    font-size:12px;
    position:relative;
    left:20px;
}